---
import { getCollection, render } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import InstagramIcon from '~icons/mdi/instagram';
import WebsiteIcon from '~icons/mdi/computer';

export async function getStaticPaths() {
  const volunteerSpotlights = await getCollection('volunteer-spotlight');
  return volunteerSpotlights.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'volunteer-spotlight'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={`Volunteer Spotlight: ${entry.data.name}`}>
  <div class="mt-2 bg-white py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{entry.data.name} - Volunteer Spotlight</h2>
        <a href="/volunteerspotlight/" class="mt-2 inline-flex items-center text-sm font-medium text-primary-light hover:text-secondary-light">
          <svg class="mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
          </svg>
          Back to Volunteer Spotlight
        </a>
        <div class="mt-2 ml-2 flex gap-x-2">
          {
            entry.data.instagram && (
              <a href={'https://instagram.com/' + entry.data.instagram}>
                <InstagramIcon class="h-5 w-5 text-red-400" aria-hidden="true" />
              </a>
            )
          }
          {
            entry.data.website && (
              <a href={entry.data.website}>
                <WebsiteIcon class="h-5 w-5" aria-hidden="true" />
              </a>
            )
          }
        </div>

        <p class="mt-2 text-lg leading-8 text-gray-600">{entry.data.intro}</p>
      </div>
      <div class="mx-auto mt-8 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div>
          {entry.data.images.map((image) => <Image src={image.image} alt={entry.data.name} width="500" height="500" class="mb-8" />)}
        </div>
        <div class="prose max-w-xl">
          <Content />
        </div>
      </div>
    </div>
  </div>
</Layout>
