---
import Layout from "@layouts/Layout.astro";
import VolunteerItem from "@components/VolunteerItem.vue";
import SocialLinks from "@components/SocialLinks.astro";

import { Image } from "astro:assets";

import { getCollection } from "astro:content";
import { isFuture, endOfDay } from "date-fns";
const upcomingVolunteerEvents = await getCollection("events", ({ data }) => {
  return isFuture(endOfDay(new Date(data.date)));
});
const meetingLocations = await getCollection("trailheads");
const links = await getCollection("links");
const wishlist = await getCollection("wishlist", ({ data }) => {
  return data.quantityNeeded > 0;
});
const sortedLinks = links.sort((b, a) => a.data.priority - b.data.priority);

import Logo from "@/assets/images/logos/logo-medium.jpg";
---

<Layout title="Link in Bio">
  <div class="my-2 w-full bg-green-50 py-2">
    <div class="mx-auto my-6 max-w-4xl bg-white px-6 pt-2 lg:px-8">
      <div class="mx-2 my-8 border-b border-gray-100 pb-6">
        <Image
          src={Logo}
          alt="Friends of Ute Valley Park logo"
          width="100"
          height="100"
          class="mx-auto"
        />
        <h2
          class="mt-2 text-center text-2xl font-bold tracking-tight text-green-800"
        >
          Friends of Ute Valley Park
        </h2>
        <div class="mx-auto mt-4 w-min">
          <SocialLinks />
        </div>
      </div>
      {
        upcomingVolunteerEvents.length > 0 && (
          <div class="mt-2">
            <h2 class="text-center text-3xl font-bold tracking-tight text-green-800 sm:text-2xl">
              Upcoming volunteer events
            </h2>
            <div class="px-4 py-5">
              <ul class="divide-y divide-gray-100">
                {upcomingVolunteerEvents.map((volunteerEvent) => (
                  <li class="my-5 flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
                    <VolunteerItem
                      meetingLocations={meetingLocations}
                      volunteerEvent={volunteerEvent}
                      client:idle
                    />
                  </li>
                ))}
              </ul>
            </div>
          </div>
        )
      }
      <div>
        <div class="px-4 py-4">
          <ul class="divide-y divide-gray-100">
            {
              sortedLinks.map((link) => (
                <li class="my-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
                  <a
                    href={link.data.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-full rounded-md border border-gray-300 bg-green-50/10 px-4 py-3 text-center font-sans text-black transition-colors duration-200 hover:bg-green-100"
                  >
                    <span class="font-semibold text-green-800">
                      {link.data.title}
                    </span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <div class="mx-auto my-4 overflow-hidden py-4 sm:px-6 lg:px-8">
        <h2
          class="text-center text-3xl font-bold tracking-tight text-green-800 sm:text-2xl"
        >
          Wishlist
        </h2>
        <p>
          We gratefully accept donations of tools to support our mission and
          help those in need. If you have tools you'd like to donate, please <a
            href="/contact/"
            class="text-green-600 underline"
            target="_blank"
            rel="noopener noreferrer">contact us</a
          > to arrange the best way to hand them off – your generosity can make a
          real difference in our community!
        </p>
        <div
          class="-mx-px mt-4 grid grid-cols-2 border-l border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4"
        >
          {
            wishlist.map((wishlistItem) => (
              <div class="group relative border-b border-r border-gray-200 p-4 sm:p-6">
                <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-200 group-hover:opacity-75">
                  <Image
                    src={wishlistItem.data.image}
                    alt={wishlistItem.data.imageAlt}
                    width="200"
                    height="200"
                    class="h-full w-full object-cover object-center"
                  />
                </div>
                <div class="pb-4 pt-10 text-center">
                  <h3 class="text-sm font-medium text-gray-900">
                    <a
                      href={wishlistItem.data.link}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <span aria-hidden="true" class="absolute inset-0" />
                      {wishlistItem.data.title}
                    </a>
                  </h3>
                  <div class="mt-3 flex flex-col items-center">
                    <p class="mt-1 text-sm text-gray-500">
                      {wishlistItem.data.quantityNeeded} needed
                    </p>
                  </div>
                  <p class="mt-4 text-base font-medium text-gray-900">
                    {wishlistItem.data.description}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
