---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';

import { getCollection } from 'astro:content';
const publishedNewsEntries = await getCollection('news', ({ data }) => {
  return data.published === true;
});
---

<Layout title="News">
  <div class="mx-2 bg-white">
    <h1 class="mt-16 mb-8 text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">News From Ute Valley Park</h1>
    <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {
        publishedNewsEntries
          .sort((a, b) => new Date(a.data.publishedOn).getTime() - new Date(b.data.publishedOn).getTime())
          .reverse()
          .map((post) => <Card title={post.data.title} previewText={post.data.previewText} image={post.data.coverImage} href={post.id} publishedOn={post.data.publishedOn} />)
      }
    </div>
  </div>
</Layout>
