---
const principles = [
  {
    name: 'Plan Ahead & Prepare',
    text: 'A little preparation goes a long way! Checking the forecast, planning your route, and reviewing the Rules and Regulations will help prepare you for your Ute Valley Park adventure.',
    image: '/images/lnt/plan-ahead-and-prepare',
    altText: 'A lone tree in Ute Valley Park',
  },
  {
    name: 'Travel on Durable Surfaces',
    text: "Stay on designated trails to minimize soil erosion and preserve Ute Valley Park's natural features. Muddy trails? Hike right through them! And please respect Natural Preservation Area closures.",
    image: '/images/lnt/travel-on-durable-surfaces',
    altText: 'Ute Valley Park trail',
  },
  {
    name: 'Dispose of Waste Properly',
    text: 'Please pack out all trash items, including bagged <a class="text-green-600 underline" href="/leavenotrace/dogs">dog waste</a>, or place it into trash cans before leaving the park. This keeps Ute Valley Park looking (and smelling) bea-UTE-iful!',
    image: '/images/lnt/dispose-of-waste-properly',
    altText: 'Rubbish in the dirt',
  },
  {
    name: 'Leave What You Find',
    text: 'From flowers to frog eggs, Ute Valley Park is full of fascinating features! Remember to take pictures of these fun finds and leave them where they are for other park users to discover.',
    image: '/images/lnt/leave-what-you-find',
    altText: 'Flowers',
  },
  {
    name: 'Respect Wildlife',
    text: 'Ute Valley Park provides essential habitat for a variety of animals. Please observe all wildlife from safe distances and never feed them. Keeping your pet on a leash protects everyone who uses, and lives in, the park.',
    image: '/images/lnt/respect-wildlife',
    altText: 'A deer in Ute Valley Park',
  },
  {
    name: 'Be Considerate of Other Visitors',
    text: 'Practice recreational empathy! Enhance the experience of other park visitors by sharing the trail. Cyclists should always ride in control. Hikers, be mindful of the Downhill Bike Area trails.',
    image: '/images/lnt/be-considerate-of-other-visitors',
    altText: 'Hikers walking on snow in the park',
  },
];
---

<div class="bg-gray-100 rounded my-8">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Leave No Trace</h2>
        <p class="text-xl text-gray-500">Ute Valley Park proudly supports the Leave No Trace Seven Principles. Please help keep the park safe and clean by following the principles.</p>
        <p class="mt-3 max-w-3xl text-lg text-green-600">
          Please read and always obey the
          <a href="/rules" class="text-green-500 underline font-bold inline-block"> rules</a>
          of Ute Valley Park.
        </p>
        <div class="mt-8 sm:flex">
          <div class="rounded-md shadow mx-auto bg-white p-8 w-64 focus-within:ring-2 focus-within:ring-green-100">
            <a href="https://www.lnt.org">
              <picture>
                <source srcset="/images/logos/leave-no-trace.webp" type="image/webp" />
                <source srcset="/images/logos/leave-no-trace.jpg" type="image/jpg" />
                <img class="" src="/images/logos/leave-no-trace.jpg" alt="Leave No Trace logo" />
              </picture>
            </a>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2">
        <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
          {
            principles.map((principle) => (
              <li>
                <div class="space-y-4">
                  <div class="aspect-w-3 aspect-h-2">
                    <picture>
                      <source srcset={`${principle.image}.webp`} type="image/webp" />
                      <source srcset={`${principle.image}.jpg`} type="image/jpg" />
                      <img class="object-cover shadow-lg rounded-lg" src={`${principle.image}.jpg`} alt={principle.altText} />
                    </picture>
                  </div>
                  <div class="text-lg leading-6 font-medium">
                    <h3 class="text-green-600">{principle.name}</h3>
                  </div>
                  <div class="text-lg">
                    <p class="text-gray-500" set:html={principle.text} />
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
